.main {
  margin: 0 auto;
}

.container {
  display: grid;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1080px;
  justify-items: center;
}

.textSide {
  gap: 12px;
  display: grid;
  width: 100%;
  padding: 24px;
  border-radius: 36px;
  backdrop-filter: blur(50px);
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 70px 0px #952d984d;
  h1 {
    color: #952d98;
    font-weight: 900;
    span {
      color: #ff719d;
    }
  }
}

.description {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  color: #ff719d;
}

.grids {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridContainer {
  padding: 64px;
  display: flex;
  color: #952d98;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #952d9812;
}

.grid {
  display: grid;
  justify-items: center;
  p {
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
  }
}

.button {
  gap: 12px;
  height: 60px;
  border: none;
  display: flex;
  color: white;
  font-size: 21px;
  margin-top: 80px;
  padding: 0 60px;
  font-weight: 600;
  width: fit-content;
  align-items: center;
  border-radius: 60px;
  font-family: inherit;
  justify-content: center;
  background-color: #952d98;
  box-shadow: 0px 0px 10px #952d98;
  i {
    font-size: 24px;
  }
}

.image {
  top: 708px;
  width: 450px;
  right: -115px;
  position: absolute;
}
